@tailwind base;
@tailwind components;
@tailwind utilities;

/* spinner */
/* .bg-shapes{
    background: #8360c3;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #2ebf91, #8360c3);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #2ebf91, #8360c3); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* } */
#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 50px;
  height: 50px;
  border: solid 4px transparent;
  border-top-color: #000000 !important;
  border-left-color: #000000 !important;
  border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinnerBody {
  display: fixed;
  top: 0;
  left: 0;
  background: #00000059;
  min-width: 100%;
  height: 100vh;
  align-items: center;
}
